.breadcrumb {
	background-color: unset !important;
	margin: unset !important;
	padding-left: unset !important;
}

#btn-add {
	border-radius: 100px;
	border: 1.5px solid black;
	font-weight: 500;
	/* position: absolute; */
	/* bottom: 0;
	margin-bottom: 7vh; */
}

#btn-favourite {
	border-radius: 100px;
	border: 1.5px solid black;
	font-weight: 500;
	/* position: absolute;
	bottom: 0; */
}

.breadcrumb-item a {
	color: black !important;
}

/* Style to change separator  */
.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}
