.banner {
	/* background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.04) 0px,
      rgba(0, 0, 0, 0.04) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(135deg, rgb(165, 230, 235), rgb(29, 32, 232)); */

	/* background-image: repeating-linear-gradient(
      45deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(207, 0%, 63%, 0.05) 0px,
      hsla(207, 0%, 63%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(207, 0%, 63%, 0.05) 11px,
      hsla(207, 0%, 63%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(90deg, rgb(17, 17, 17), rgb(66, 66, 66)); */

	background-image: repeating-linear-gradient(
			135deg,
			rgba(145, 145, 145, 0.02) 0px,
			rgba(145, 145, 145, 0.02) 39px,
			rgba(140, 140, 140, 0.02) 39px,
			rgba(140, 140, 140, 0.02) 57px,
			rgba(9, 9, 9, 0.02) 57px,
			rgba(9, 9, 9, 0.02) 91px,
			rgba(217, 217, 217, 0.02) 91px,
			rgba(217, 217, 217, 0.02) 119px,
			rgba(45, 45, 45, 0.02) 119px,
			rgba(45, 45, 45, 0.02) 141px,
			rgba(227, 227, 227, 0.02) 141px,
			rgba(227, 227, 227, 0.02) 184px,
			rgba(236, 236, 236, 0.02) 184px,
			rgba(236, 236, 236, 0.02) 227px,
			rgba(124, 124, 124, 0.02) 227px,
			rgba(124, 124, 124, 0.02) 244px
		),
		repeating-linear-gradient(
			135deg,
			rgba(39, 39, 39, 0.02) 0px,
			rgba(39, 39, 39, 0.02) 23px,
			rgba(2, 2, 2, 0.02) 23px,
			rgba(2, 2, 2, 0.02) 55px,
			rgba(13, 13, 13, 0.02) 55px,
			rgba(13, 13, 13, 0.02) 71px,
			rgba(44, 44, 44, 0.02) 71px,
			rgba(44, 44, 44, 0.02) 98px,
			rgba(240, 240, 240, 0.02) 98px,
			rgba(240, 240, 240, 0.02) 134px,
			rgba(182, 182, 182, 0.02) 134px,
			rgba(182, 182, 182, 0.02) 159px,
			rgba(246, 246, 246, 0.02) 159px,
			rgba(246, 246, 246, 0.02) 174px,
			rgba(157, 157, 157, 0.02) 174px,
			rgba(157, 157, 157, 0.02) 190px
		),
		repeating-linear-gradient(
			135deg,
			rgba(145, 145, 145, 0.02) 0px,
			rgba(145, 145, 145, 0.02) 35px,
			rgba(217, 217, 217, 0.02) 35px,
			rgba(217, 217, 217, 0.02) 53px,
			rgba(199, 199, 199, 0.02) 53px,
			rgba(199, 199, 199, 0.02) 70px,
			rgba(196, 196, 196, 0.02) 70px,
			rgba(196, 196, 196, 0.02) 114px,
			rgba(137, 137, 137, 0.02) 114px,
			rgba(137, 137, 137, 0.02) 143px,
			rgba(249, 249, 249, 0.02) 143px,
			rgba(249, 249, 249, 0.02) 191px,
			rgba(247, 247, 247, 0.02) 191px,
			rgba(247, 247, 247, 0.02) 239px,
			rgba(38, 38, 38, 0.02) 239px,
			rgba(38, 38, 38, 0.02) 273px
		),
		linear-gradient(90deg, rgb(69, 69, 69), rgb(3, 3, 3));

	height: 35vh;
	padding-top: 11vh;
}

.box {
	height: 27em;
	transform: translateY(-8vh);
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 5px;
	padding: 2rem;
}

/** iPhone 6/7/8 **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	.support .box-right {
		margin-top: 1rem;
	}
}
