#btn-checkout {
	border-radius: 100px;
	border: 1.5px solid black;
	font-weight: 500;
}

#dropdown-basic-button {
	background-color: unset !important;
	color: black;
	border: none;
	padding: 0;
}

.btn-remove {
	color: red;
}

.btn-remove:hover{
	cursor: pointer;
	font-weight: 500;
}
