.breadcrumb {
	background-color: unset !important;
	margin: unset !important;
	padding-left: unset !important;
	padding-top: unset;
}

#btn-add {
	border-radius: 100px;
	border: 1.5px solid black;
	font-weight: 500;
	font-size: 1rem;

	/* position: absolute; */
	/* bottom: 0;
	margin-bottom: 7vh; */
}

#btn-favourite {
	border-radius: 100px;
	border: 1.5px solid black;
	font-weight: 500;
	font-size: 1rem;
	/* position: absolute;
	bottom: 0; */
}

.breadcrumb-item a {
	color: black !important;
}

/* Style to change separator  */
.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}

.toast-header {
	padding-left: unset;
}

.toast-title {
	font-weight: 400;
	color: black;
}

.toast {
	background-color: white !important;
	width: 30em;
}

.product-detail img {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 10px;
}

.product-detail .container-buttons {
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}

/** PIXEL 2 **/
@media only screen and (min-device-width: 411px) and (max-device-width: 731px) {
	.product-detail .container-buttons {
		bottom: unset;
		position: unset;
		left: unset;
		right: unset;
	}

	.product-detail .productMsgInfo {
		padding-top: 1rem;
	}

	.product-detail .toast {
		position: unset;
		top: 0;
		left: 0 !important;
		right: 0 !important;
		max-width: 100%;
	}

	.product-detail .productName {
		font-size: 1.4rem !important;
	}

	.product-detail .productPrice {
		font-weight: 500 !important;
		font-size: 1.2rem !important;
	}
}

/** iPhone 6/7/8 **/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	.product-detail .container-buttons {
		bottom: unset;
		position: unset;
		left: unset;
		right: unset;
	}

	.product-detail .productMsgInfo {
		padding-top: 1rem;
	}

	.product-detail .toast {
		position: unset;
		top: 0;
		left: 0 !important;
		right: 0 !important;
		max-width: 100%;
	}
}
