.login {
	margin-top: 2em;
}

.login .left-box {
	height: 38.5em;
	box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
	padding: 1rem;
}

.login .title {
	font-size: 2em;
	text-align: center;
}

.login .login-container {
	border: 1px solid black;
	/* width: 28em; */
}

.login .register-text {
	text-align: center;
	margin-top: 1rem;
	color: #6c757d !important;
	font-size: 80%;
}

.login .or {
	text-align: center;
	color: grye !important;
	margin: 1rem 0;
}
